.link:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #18f08b;
  transition: 0.5s;
}
.link:after {
  left: 0;
  top: -10px;
}
.link:hover:after,
.link:hover:before {
  width: 3%;
}
link:hover {
  color: black;
  font-weight: bold;
}
.nav-link {
  font-size: 15px;
  margin: 12px;
  font-family: "Poppins", sans-serif;
}
.nav-link:hover {
  color: var(--primary-color) !important;
}
