.manage-inventory-table {
  box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
  padding: 30px;
  border-radius: 10px;
}
path {
  fill: black;
}
.icon2 {
  width: 20px;
}
.table-data {
  width: 140px;
}
.plus {
  width: 240px;
  margin-top: 5px;
}
